<%= render 'list', book: @book, user: @user %>

<h1>Users</h1>
<% @users.each do |user| %>
<table>
  <thead>
    <th>image</th>
    <th>name</th>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag user.get_profile_image %></td>
      <td><%= user.name %></td>
      <td>
        <span><%= link_to "show", "/users/#{user.id}" %></span>
      </td>
    </tr>
  </tbody>
</table>
<% end %>